# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Mac custom attributes file (Desktop Service Store)
.DS_Store

# PyCharm files
.idea/

# Database files
/data/

# Coverage output
/web/.coverage
/web/htmlcov/

# Bower components
bower_components/
build/

# Old files
frontend/templates/old/