<html>
<head>
<style>
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
</style>
</head>
<body>

{% block content %}

{% for file in files %}

<div class="gallery">
    <div class="desc">{{ file }}</div>
    <a target="_blank" href="{{ url_for('upload.static', filename='screenshots/{}/{}'.format(user_email, file)) }}">
       <img src="{{ url_for('upload.static', filename='screenshots/{}/{}'.format(user_email, file)) }}" width="300" height="200">
    </a>
</div>


{% endfor %}

{% endblock %}


</body>
</html>