{% extends "security/base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block body %}

<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

<div class="login-wrap">
    <div class="login-html">

        <a href="{{ url_for_security('login')}}"><input type="radio" name="tab" class="sign-in" checked><label class="tab">Sign In</label></a>
        <a href="{{ url_for_security('register')}}"><input type="radio" name="tab" class="sign-up"><label class="tab">Sign Up</label></a>


        <div class="login-form">

            <form action="{{ url_for_security('login') }}" method="POST" name="login_form">

            <div class="sign-in-htm">
                <div class="group">
                    {{ render_field_with_errors(login_user_form.email, class_="input") }}
                </div>
                <div class="group">
                     {{ render_field_with_errors(login_user_form.password, class_="input") }}
                </div>
                <div class="group">
                    {{login_user_form.remember}}
                    <!--<input id="check" type="checkbox" class="check">-->
                    <label for="check"></span> Keep me Signed in</label>
                </div>
                <div class="group">
                    {{login_user_form.next}}
                    {{login_user_form.submit (class_= "button")}}
                </div>
                <div class="hr"></div>
                <div class="foot-lnk">
                    <a href="{{ url_for_security('forgot_password')}}">Forgot Password?</a><br><br>
                    <a href="{{ url_for_security('change_password')}}">Change Password</a>
                </div>
            </div>

            </form>


        </div>
    </div>
</div>

{% endblock %}